URL=mongodb+srv://limudime_db_user:ZAUa9aexJ1547aiR@cluster0.0eur7lt.mongodb.net/mydb?retryWrites=true&w=majority&appName=Cluster0
PORT=3000
SECRET=Q2vvfdrkrkwmT!85pqc44Umh8K3F4bJPN6BC*M8DC0NT$ZWF9PNhXk&N4NYnty